@charset "UTF-8";

body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#encabezado {
	background-color: #ccffdd;
	color: #0000ff;
	padding: 20px;
	text-align: center;
}

.menu{
	text-align: right;
	padding: 10px;
}

