@charset "UTF-8";

body{
	background-color: #00ffff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#encabezado {
	color:  #000000;
	padding: 20px;
	text-align: center;
}

.menu{
	text-align: right;
	padding: 10px;
}

.enlace {
	text-align: left;
	color:  #ffffff;
}

