<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina ejemplo</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	
	<body>
		<header id="encabezado">
			<h1>Bienvenido a Programacion Visual</h1>
		</header>
		
		<nav class="menu">
			<ul>
				<li><a class="enlace" href="#descripcion" >Descripcion</a></li>
				<li><a class="enlace" href="#Clases" >Calendario Escolar</a></li>
				<li><a class="enlace" href="#Temas">Plan de Estudio</a></li>
			</ul>
		</nav>
		
		<main class="principal">
			<section id="descripcion" class="seccion">
				<h2 class="titulo">Programacion</h2>
				<p class="parrafo">El término programación se define como un conjunto de instrucciones consecutivas y ordenadas que llevan 
				a ejecutar una tarea específica. Dichas instrucciones se denominan “código fuente”, el cual es único para cada 
				lenguaje y está diseñado para cumplir una función o propósito específico.</p>
				
				<h2 class="titulo">Lenguaje de Programacion</h2>
				<p class="parrafo">Un lenguaje de programación es una “estructura que, con una cierta base sintáctica y semántica,
				imparte distintas instrucciones a un programa de computadora”. Un lenguaje de programación está compuesto por:</p>
				<ol class="listaOrdenada">

					<li>Simbolos</li>
					<li>Reglas Sintactica y Semanticas</li>
					<li>Estructurada</li>
					<li>Significado</li>
					<li>Elementos y expreciones</li>
				</ol>
				
				<h2 class="titulo">Ojetivo de la materia</h2>
				<p class="parrafo">Introducir a los estudiantes en el manejo del lenguaje de programación Java: Creación de clases, atributos, métodos y estructuras de control selectivas.
				La programación visual es un tipo de lenguaje de programación que permite a sus usuarios ilustrar sus procesos, o dicho de otra forma, se trata de un lenguaje de 
				programación visual que permite a los desarrolladores explicar el proceso con palabras comprensibles para los usuarios</p>
				
				<h3 class="titulo">Docentes</h3>
				<ol class="listaOrdenada">
					<li>Vega Ariel</li>
					<li>Apaza Carolina</li>
					<li>Sosa Gustavo</li>
					<li>Rodrigez Juan Calor</li>
				</ol>
			</section>
			

			<section id="Clases" class="seccion">
				<h2 class="titulo">Clase de Teoria</h2>
				<p class="parrafo">Miercoles de 14 a 15 hs modaliad Virtual</p>
				<h3 class="titulo">Comiciones</h3>
				<table class="tabla">
					<tr>
						<th>Horarios</th>
					</tr>
					<tr>
						<td>Comision 1</td>
						<td>Lunes: 18 a 21 hs</td>
					</tr>
					<tr>
						<td>Comision 2</td>
						<td>Jueves: 14 a 17 hs</td>
					</tr>
					<tr>
						<td>Comision 3</td>
						<td>Viernes: 18 a 21 hs</td>
					</tr>
				</table>
			</section>
			<section id="Temas" class="seccion">
				<h2 class="titulo">Herrmientas</h2>
				<p class="parrafo">Los alumnos deberan instalar herramientas para el desarrollo de trabajos practicos, Java JDK 17 - Spring Tool Suite</p>
				<h3 class="titulo">Unidades de Estudio</h3>
				<ul class="listaNormal">
					<li>Unidad 1: Lenguaje Java</li>
					<li>Unidad 2: Introduccion a Spring Boot</li>
					<li>Unidad 3: Gestion de Dependencias y Versionamiento</li>
					<li>Unidad 4: Spring Boot MVC</li>
					<li>Unidad 5: Clases de Negocio</li>
					<li>Unidad 6: Persistencia de Objetos</li>
					<li>Unidad 7: Manejo de Formulas</li>
				</ul>
			</section>
			
		</main>
		
		<aside class="adicional">
			<h3>Spring Tools</h3>
			<p>
				Enlace de interes: 
				<a class="descarga" href="https://www.youtube.com/watch?v=89Mr-dYcHxA&t=56s">Descargar Springtoos</a>
			</p>
			<img class="imagen" alt="imagen" src="../static/images/descarga.jfif">
		</aside>
		
		<footer id="pie">
			<p>Contacto: info@fi.unju.edu.ar</p>
			<a class="informacion" href="https://www.facebook.com/fiunju/" >Facebook</a><br>
			<a class="informacion" href="https://www.instagram.com/fiunju/" >Instagram</a><br>
		</footer>
	</body>
</html>