<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Pagina ejemplo</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual</h1>>
		</header>
		
		<nav>
			<ul>
				<li><a href="https://www.fi.unju.edu.ar" >Fi Unju</a>
				<li><a href="" >Sobre nosotros</a>
				<li><a href="" >Contacto</a>
			</ul>>
		</nav>
		
		<main>
			<section id="inicio">
				<h2>Titulo 1</h2>
				<p>Materia de 2do año de la carrera Analista Programador Universitario</p>
				<h3>Docente</h3>
			</section>>
		</main>>
	</body>
</html>