<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina ejemplo</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="https://www.fi.unju.edu.ar" >Fi Unju</a>
				<li><a href="https://www.fi.unju.edu.ar/institucional/historia.html" >Sobre nosotros</a>
				<li><a href="https://www.fi.unju.edu.ar/servicios/telefonos.html" >Telefono</a>
			</ul>
		</nav>
		
		<main>
			<section id="inicio">
				<h2>Ojetivo de la materia</h2>
				<p>Introducir a los estudiantes en el manejo del lenguaje de programación Java: Creación de clases, atributos, métodos y estructuras de control selectivas</p>
				<h3>Docentes</h3>
				<ol>
					<li>Vega Ariel</li>
					<li>Apaza Carolina</li>
					<li>Sosa Gustavo</li>
					<li>Rodrigez Juan Calor</li>
				</ol>
			</section>
			
			<section id="segunda parte">
				<h2>Clase de Teoria</h2>
				<p>Miercoles de 14 a 15 hs modaliad Virtual</p>
				<h3>Comiciones</h3>
				<table>
					<tr>
						<th>Horarios</th>
					</tr>
					<tr>
						<td>Comision 1</td>
						<td>Lunes: 18 a 21 hs</td>
					</tr>
					<tr>
						<td>Comision 2</td>
						<td>Jueves: 14 a 17 hs</td>
					</tr>
					<tr>
						<td>Comision 3</td>
						<td>Viernes: 18 a 21 hs</td>
					</tr>
				</table>
			</section>
			
			<section id="Tercera Parte">
				<h2>Herrmientas</h2>
				<p>Los alumnos deberan instalar herramientas para el desarrollo de trabajos practicos, Java JDK 17 - Spring Tool Suite</p>
				<h3>Unidades de Estudio</h3>
				<ol>
					<li>Unidad 1: Lenguaje Java</li>
					<li>Unidad 2: Introduccion a Spring Boot</li>
					<li>Unidad 3: Gestion de Dependencias y Versionamiento</li>
					<li>Unidad 4: Spring Boot MVC</li>
					<li>Unidad 5: Clases de Negocio</li>
					<li>Unidad 6: Persistencia de Objetos</li>
					<li>Unidad 7: Manejo de Formulas</li>
				</ol>
			</section>
			
		</main>
		
		<aside>
			<h3>Spring Tools</h3>
			<img alt="imagen" src="../static/images/descarga.jfif">
		</aside>
		
		<footer>
			<p>Contacto info@fi.unju.edu.ar</p>
			<a href="https://www.facebook.com/fiunju/" >Facebook</a>
			<a href="https://www.instagram.com/fiunju/" >Instagram</a>
		</footer>
	</body>
</html>